<div id="body">
    <app-menu (componenteSeleccionado)="mostrarComponente($event)"></app-menu>
    <app-documentacion *ngIf="componenteActual === 'app-documentacion'"></app-documentacion>
    <app-tareas-por-fecha *ngIf="componenteActual === 'app-tareas-por-fecha'" [listaTareas]="listaTareas">
    </app-tareas-por-fecha>
    <app-tareas-por-estado *ngIf="componenteActual === 'app-tareas-por-estado'" [listaTareas]="listaTareas">
    </app-tareas-por-estado>
    <app-agregar-tarea *ngIf="componenteActual === 'app-agregar-tarea'" (tareaAgregada)="agregarTarea($event)">
    </app-agregar-tarea>
</div>