<div id="agregarTarea">
  <h2>Agregar Tarea</h2>
  <form (ngSubmit)="agregar()">
    <div>
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
    </div>
    <div>
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" name="fecha" [(ngModel)]="fecha" required>
    </div>
    <div>
      <label for="hora">Hora:</label>
      <input type="time" id="hora" name="hora" [(ngModel)]="hora" required>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" [(ngModel)]="descripcion" required></textarea>
    </div>
    <div>
      <label for="estado">Estado:</label>
      <select id="estado" name="estado" [(ngModel)]="estado" required>
        <option value="Pendiente">Pendiente</option>
        <option value="Realizada">Realizada</option>
      </select>
    </div>
    <button type="submit">Agregar</button>
  </form>
</div>